---
import Subpage from "../../layouts/Subpage.astro";
import Post from "../../components/Post.astro";
import { wpquery } from "../../lib/wordpress";

let data = null;
let posts = [];

try {
  data = await wpquery({
    query: `
      query GetPostExcerpts {
        posts {
          nodes {
            title
            dateGmt
            excerpt
            slug
            content
            tags {
              nodes {
                id
                name
              }
            }
            featuredImage {
              node {
                mediaItemUrl
                altText
              }
            }
          }
        }
      }
    `,
  });

  posts = data?.posts?.nodes ?? [];
} catch (error) {
  console.error("Error fetching posts:", error);
  posts = [];
}
---

<Subpage description="Blogposts by Adam Koszary" title="Blog">
  <section class="grid md:grid-cols-2">
    {console.log(posts)}
    {
      posts.length > 0 ? (
        posts.map((post: any) => (
          <Post
            slug={post.slug}
            title={post.title}
            date={post.dateGmt}
            prose={post.excerpt}
            tags={post.tags.nodes}
          />
        ))
      ) : (
        <p>No posts available.</p>
      )
    }
  </section>
</Subpage>
