---
import { capitalise } from "../../lib/utils";
import Subpage from "../../layouts/Subpage.astro";
import Post from "../../components/atoms/Post.astro";
import TagCard from "../../components/atoms/Tag.astro";
import { wpquery } from "../../lib/wordpress";

interface TagNode {
  name: string;
  slug: string;
  count: number;
}

interface PostNode {
  title: string;
  date: string;
  excerpt: string;
  slug: string;
  tags: {
    nodes: TagNode[];
  };
}

interface TagDataProps {
  tag: {
    name: string;
    slug: string;
    posts: {
      nodes: PostNode[];
    };
  };
  tags: {
    nodes: TagNode[];
  };
}
export async function getStaticPaths() {
  const data = await wpquery({
    query: `
      query GetTags {
        tags(first: 1000) {
          nodes {
            name
            slug
            count
          }
        }
      }
    `,
  });

  if (!data.tags?.nodes) {
    console.error("No tags found in the response", data);
    return [];
  }

  return data.tags.nodes.map((tag: TagNode) => ({
    params: { tag: encodeURIComponent(tag.slug.toLowerCase()) },
    props: { tagSlug: tag.slug.toLowerCase() },
  }));
}

const { tagSlug } = Astro.props;

const encodeSlug = (slug: string) => encodeURIComponent(slug.toLowerCase());

let data: TagDataProps = {
  tag: { name: "", slug: "", posts: { nodes: [] } },
  tags: { nodes: [] },
};
try {
  const response = await wpquery({
    query: `
      query GetTagData($slug: ID!) {
        tag(id: $slug, idType: SLUG) {
          name
          slug
          posts {
            nodes {
              title
              date
              excerpt
              slug
              tags {
                nodes {
                  name
                  slug
                }
              }
            }
          }
        }
        tags(first: 1000) {
          nodes {
            name
            slug
            count
          }
        }
      }
    `,
    variables: { slug: encodeSlug(tagSlug) },
  });

  if (response.tag && response.tags?.nodes) {
    response.tag.slug = response.tag.slug.toLowerCase();
    response.tag.posts.nodes.forEach((post: any) => {
      post.tags.nodes.forEach((tag: any) => {
        tag.slug = tag.slug.toLowerCase();
      });
    });
    response.tags.nodes.forEach((tag: any) => {
      tag.slug = tag.slug.toLowerCase();
    });

    data = response as TagDataProps;
  } else {
    console.error("Tag data or tags nodes missing in the response", response);
  }
} catch (error) {
  console.error("Error fetching tag data:", error);
}

const tag = data.tag;
const posts = data.tag.posts.nodes;
const otherActiveTags = data.tags.nodes.filter(
  (t: TagNode) => t.slug !== tagSlug && t.count > 0,
);
---

<Subpage
  description={`Posts tagged with ${tag.name}, by Adam Koszary.`}
  title={`Posts tagged with '${capitalise(tag.name)}'`}
>
  <section class="grid md:grid-cols-[2fr_1fr] gap-8">
    <div class="grid gap-x-8 gap-y-4">
      {
        posts.map((post: PostNode) => (
          <Post
            date={post.date}
            title={post.title}
            slug={post.slug}
            prose={post.excerpt}
            tags={post.tags.nodes}
          />
        ))
      }
    </div>
    <aside class="md:border-l md:pl-8 md:border-t-0 md:pt-0 border-t pt-8">
      <h2 class="text-xl mb-4 font-bold">Other tags</h2>
      <ul class="flex flex-wrap gap-2">
        {
          otherActiveTags.map((activeTag: TagNode) => (
            <TagCard link tag={activeTag.name} />
          ))
        }
      </ul>
    </aside>
  </section>
</Subpage>
