---
import { Picture } from "astro:assets";

interface Props {
  src: string;
  alt: string;
  height?: number;
  width?: number;
  className?: string;
}

const { src, alt, height = 200, width = 1200, className } = Astro.props;
---

<div class="flex md:mb-6 mb-4 justify-center">
  <a class="inline-block sm:w-2/3 w-full" href={Astro.url.pathname}>
    <Picture
      {width}
      {height}
      loading="eager"
      src={src}
      alt={alt}
      class={`inline-block ${className}`}
      fetchpriority="high"
    />
  </a>
</div>
