---
import { Image } from "astro:assets";
import { fetchPageBySlug } from "../lib/wordpress";

interface Props {
  /** The section title, e.g. 'Principles, What I Do'. Renders in uppercase. */
  title: string;
  /** The section hero image. */
  image?: ImageMetadata | undefined;
  /** Section hero image alt text. */
  alt?: string | undefined;
  /** Do you want a background colour? */
  background?: boolean;
  /** If section appears at the top of the page, use 'eager'. Else, use 'lazy' or simply ignore to set lazy loading automatically. */
  loading?: "eager" | "lazy";
  /** Slug for WordPress page. For example: 'principles' would load content from 'https://test113736.wordpress.com/principles/' */
  slug?: string;
}

const { title, image, alt, background, loading = "lazy", slug } = Astro.props;

let content;
if (slug) {
  const page = await fetchPageBySlug(slug);
  content = page ? page.content.rendered : null;
}
---

<section
  id="services"
  class={`grid ${image && "md:grid-cols-2"} py-8 gap-x-16 gap-y-6 border-b-2 ${
    background && "bg-slate-100"
  }`}
>
  {
    image && alt && (
      <Image
        class="w-full rounded-sm"
        alt={alt}
        src={image}
        loading={loading}
      />
    )
  }
  <article>
    <h2 class="text-4xl mb-2 uppercase">{title}</h2>
    <div class="prose dark:prose-invert dark:text-white text-pretty">
      {content ? <div set:html={content} /> : <slot />}
    </div>
  </article>
</section>
