---
import { Image } from "astro:assets";
import { fetchPageBySlug } from "../lib/wordpress"

interface Props {
  /** Grid title */
  title: string;
  /** Hero image */
  image: ImageMetadata;
  alt: string;
  background?: boolean;
  /** If image is above the fold, use 'eager'. Else, use 'lazy'*/
  loading?: "eager" | "lazy";
  /** WordPress page slug */
  slug?: string;
}

const { title, image, alt, background, loading = "lazy", slug } = Astro.props;

let content;
if (slug) {
  const page = await fetchPageBySlug(slug);
  content = page ? page.content.rendered : null;
}
---

<section
  id="services"
  class={`grid md:grid-cols-2 py-8 gap-x-16 gap-y-6 border-b-2 ${
    background && "bg-slate-100"
  }`}
>
  <Image class="w-full rounded-sm" alt={alt} src={image} loading={loading} />
  <article>
    <h2 class="text-4xl mb-2 uppercase">{title}</h2>
    <div class="prose dark:prose-invert dark:text-white">
      {content ? <div set:html={content} /> : <slot />}
    </div>
  </article>
</section>
