---
import PageImage from "./atoms/PageImage.astro";
import PageText from "./atoms/PageText.astro";
import { wpquery } from "../lib/wordpress";

// Props definition
interface Props {
  title: string;
  src?: ImageMetadata;
  alt?: string;
  background?: boolean;
  loading?: "eager" | "lazy";
  slug?: string;
  order?: "image-first" | "text-first";
  border?: boolean;
  anchor: string;
}

interface PageNode {
  date: string;
  title: string;
  content: string;
  slug: string;
}

interface DataProps {
  pages: {
    nodes: PageNode[];
  };
}

const { src, alt, background, loading = "lazy", anchor, slug } = Astro.props;

// API call. Fetch API data, based on the page slug
let data: DataProps = { pages: { nodes: [] } };
let pageContent = "";
let pageTitle = "";

try {
  const response = await wpquery({
    query: `
      query GetPageContent {
        pages {
          nodes {
            date
            title
            content(format: RENDERED)
            slug
          }
        }
      }
    `,
  });

  if (response.pages?.nodes) {
    data = response as DataProps;
    const pageData = data.pages.nodes.find((page) => page.slug === slug);
    pageContent = pageData?.content ?? "Content not found";
    pageTitle = pageData?.title ?? "Title not found";
  } else {
    console.error("No nodes found in the response", response);
  }
} catch (error) {
  console.error("Error fetching page content:", error);
}
---

<!-- Main wrapper -->
<section
  id={anchor}
  class={`
    flex justify-center items-center
    ${background ? "bg-slate-100 dark:bg-slate-700 py-16 px-4 sm:px-6 lg:px-8 rounded-lg" : ""}
  `}
>
  <!-- Content container: if there's an image, it's a row. Else, it's a column -->
  <div
    class={`
      w-full max-w-6xl flex items-center
      ${src ? "lg:flex-row flex-col lg:gap-12 gap-8 lg:items-start" : "flex-col"}
    `}
  >
    {src && alt && <PageImage {loading} {src} {alt} />}

    {
      slug ? (
        <PageText image={src} title={pageTitle} content={pageContent} />
      ) : (
        <Fragment class="justify-start text-left ml-0">
          <slot />
        </Fragment>
      )
    }
  </div>
</section>
