---
import Post from "./Post.astro";
import { wpquery } from "../lib/wordpress";
import H2 from "./atoms/H2.astro";
import Tag from "./atoms/Tag.astro";

// API call
const data = await wpquery({
  query: `
query GetPostExcerptsAndAllTags {
  posts {
    nodes {
      title
      dateGmt
      excerpt
      slug
      featuredImage {
        node {
          mediaItemUrl
          altText
        }
      }
      tags {
        nodes {
          name
          slug
          count
        }
      }
    }
  }
}
  `,
});

interface Tag {
  name: string;
  slug: string;
  count: number;
}

interface PostProps {
  dateGmt: string;
  title: string;
  slug: string;
  excerpt: string;
  tags: { nodes: Tag[] };
}

// Collect all unique tags from posts
const tagsSet = new Set();
data.posts.nodes.forEach((post:PostProps) => {
  post.tags.nodes.forEach((tag) => tagsSet.add(JSON.stringify(tag)));
});
const uniqueTags = Array.from(tagsSet).map((tag:any) => JSON.parse(tag));
---

<section id="posts" class="gap-x-16 gap-y-6 max-w-7xl md:min-h-screen mx-auto">
  <H2 title="Posts" />

  <!-- map all unique tags associated with posts -->
  <div class="mb-8 flex flex-wrap gap-2">
    {uniqueTags.map((tag: Tag) => <Tag tag={tag.name} link />)}
  </div>

  <div class="grid lg:grid-cols-2 gap-x-4 gap-y-8">
    {
      data.posts.nodes.map((post: PostProps) => (
        <Post
          date={post.dateGmt}
          title={post.title}
          slug={post.slug}
          prose={post.excerpt}
          tags={post.tags.nodes}
        />
      ))
    }
  </div>
</section>
