---
import Post from "./Post.astro";
import H2 from "./H2.astro";
import {
  fetchPosts,
  fetchTags,
  createTagMap,
  filterActiveTags,
  groupPostsByTag,
  type PostProps,
  type TagProps,
} from "../lib/wordpress";

let posts: PostProps[] = [];
let tags: TagProps[] = [];
let error: unknown = null;

try {
  [posts, tags] = await Promise.all([fetchPosts(), fetchTags()]);
} catch (err: any) {
  error = err.message;
}

const tagMap = createTagMap(tags);
const postsByTag = groupPostsByTag(posts, tagMap);
const activeTags = filterActiveTags(tags, posts);
---

<section
  id="posts"
  class="pt-8 md:pb-8 pb-16 gap-x-16 gap-y-6 border-b-2 border-t-2 md:min-h-screen"
>
  <H2 title="Posts" />
  <div class="flex flex-wrap gap-2 mb-8">
    {
      activeTags.map((tag: TagProps) => (
        <a
          href={`/tags/${tag.name}`}
          class="bg-gray-200 px-3 py-1 rounded font-mono text-black"
        >
          {tag.name}
        </a>
      ))
    }
  </div>
  {
    error ? (
      <p class="text-red-500">Failed to load posts and tags: {error}</p>
    ) : (
      <div class="grid lg:grid-cols-2 gap-x-4 gap-y-8">
        {posts.map((post: PostProps) => (
          <Post
            date={post.date}
            title={post.title.rendered}
            slug={post.slug}
            prose={post.excerpt.rendered}
            tags={post.tags.map((tagId) => tagMap.get(tagId) || "")}
          />
        ))}
      </div>
    )
  }
</section>
