---
import Post from "./atoms/Post.astro";
import H2 from "./atoms/H2.astro";
import Tag from "./atoms/Tag.astro";
import { fetchBlogPosts, getUniqueTags } from "../lib/posts";

interface Props {
  title: string;
}

const { title } = Astro.props;
const { posts } = await fetchBlogPosts();
const uniqueTags = getUniqueTags(posts.nodes);
---

<section id="posts" class="min-h-screen max-w-7xl mx-auto w-full">
  <H2 title={title} />

  {
    uniqueTags.length > 0 && (
      <div class="mb-8 flex flex-wrap gap-2 mt-4">
        {uniqueTags.map((tag) => (
          <Tag tag={tag.name} link />
        ))}
      </div>
    )
  }

  <div class="grid w-full gap-x-8 gap-y-8 md:grid-cols-2">
    {
      posts.nodes.map((post) => (
        <Post
          date={post.dateGmt}
          title={post.title}
          slug={post.slug}
          prose={post.excerpt}
          tags={post.tags.nodes}
        />
      ))
    }
  </div>
</section>
