---
import { fetchTestimonialsPage } from "../lib/wordpress";
import { parseTestimonials } from "../lib/testimonials";
import Testimonial from "../components/Testimonial.astro";
import Logo from "./Logo.astro";
import Logos from "./Logos.astro";

// Logos – use svg (ideally) or webp where svgs aren't available
import HistoricEngland from "../../src/images/historicengland.svg";
import TripleC from "../../src/images/triplec.webp";
import LondonArtStudies from "../../src/images/londonartstudies.webp";
import Unboxed from "../../src/images/unboxed.webp";
import GoodLawProject from "../../src/images/goodlawproject.svg";
import BM from "../../src/images/bm.svg";
import BletchleyPark from "../../src/images/bp.svg";
import MuseumsAssociation from "../../src/images/museumsassociation.svg";
import MuseumsGalleriesEdinburgh from "../../src/images/museumsgalleriesedinburgh.webp";

const pageContent = await fetchTestimonialsPage();
const testimonials = pageContent ? parseTestimonials(pageContent) : [];

/** const mockedData = [
  {
    background: false,
    author: "Joe Biden",
    quote: "My fellow Americans",
    role: "President",
    org: "United States of America",
    link: "whitehouse.gov",
  },
];

const testimonials = mockedData;
*/

// Determine the layout class based on the number of testimonials
const layoutClass =
  testimonials.length === 1
    ? "grid grid-cols-1"
    : testimonials.length === 2
      ? "grid grid-cols-1 md:grid-cols-2"
      : "flex overflow-x-auto snap-x snap-mandatory scrollbar scrollbar-track-[white]";

// Determine the item class based on the number of testimonials
const itemClass =
  testimonials.length <= 2
    ? "w-full"
    : "flex-none w-full md:w-1/2 lg:w-1/3 snap-start";
---

<section>
  <Logos title="Previous clients">
    <Logo org="British Museum" src={BM} url="https://www.britishmuseum.org/" />
    <Logo
      org="Historic England"
      src={HistoricEngland}
      url="https://historicengland.org.uk/"
    />
    <Logo
      org="Good Law Project"
      src={GoodLawProject}
      url="https://goodlawproject.org/"
    />
    <Logo
      org="Museums Association"
      src={MuseumsAssociation}
      url="https://www.museumsassociation.org/"
    />
    <Logo
      org="Bletchley Park"
      src={BletchleyPark}
      url="https://bletchleypark.org.uk/"
    />
    <Logo org="Triple C" src={TripleC} url="https://triplec.org.uk/" />
    <Logo
      org="London Art Studies"
      src={LondonArtStudies}
      url="https://londonartstudies.com/"
    />
    <Logo org="Unboxed 2022" src={Unboxed} url="https://unboxed2022.uk/" />
    <Logo
      org="Museums & Galleries Edinburgh"
      src={MuseumsGalleriesEdinburgh}
      url="https://www.edinburghmuseums.org.uk/"
    />
  </Logos>

  {
    testimonials.length == 0 ? (
      ""
    ) : (
      <div
        class={`w-full overflow-hidden py-5 ${testimonials.length > 2 ? "overflow-x-auto" : ""}`}
      >
        <div class={layoutClass}>
          {testimonials.map((testimonial, index) => (
            <div class={`${itemClass} px-2.5`}>
              <Testimonial
                background={index % 2 === 0}
                author={testimonial.author}
                quote={testimonial.quote}
                role={testimonial.role}
                link={testimonial.link}
                org={testimonial.org}
              />
            </div>
          ))}
        </div>
      </div>
    )
  }
</section>
