---
import Logo from "./atoms/Logo.astro";
import Logos from "./Logos.astro";
import TestimonialCard from "./atoms/Testimonial.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="mb-8">
  <Logos title={title}>
    <slot />
  </Logos>

  {
    /*{testimonials.length > 0 && (
    <div
      class={`w-full overflow-hidden py-5 ${testimonials.length > 2 ? "overflow-x-auto" : ""}`}
    >
      <div class="flex flex-wrap gap-4">
        {testimonials.map((testimonial, index) => (
          <TestimonialCard
            background={index % 2 === 0}
            author={testimonial.author}
            quote={testimonial.quote}
            role={testimonial.role}
            link={testimonial.link}
            org={testimonial.org}
          />
        ))}
      </div>
    </div>
  )*/
  }
</section>
