---
import PageImage from "./PageImage.astro";
import PageText from "./PageText.astro";
import H2 from "./H2.astro";
import { fetchPageContent } from "../../lib/wordpress";

// Props definition
interface Props {
  title: string;
  src?: ImageMetadata;
  alt?: string;
  background?: boolean;
  loading?: "eager" | "lazy";
  slug?: string;
  order?: "image-first" | "text-first";
  border?: boolean;
  anchor: string;
}

const {
  src,
  alt,
  background,
  loading = "lazy",
  anchor,
  slug,
  title,
} = Astro.props;

let pageContent = "";
let pageTitle = "";

if (slug) {
  const { title: fetchedTitle, content: fetchedContent } = await fetchPageContent(slug);
  pageContent = fetchedContent;
  pageTitle = fetchedTitle;
}
---

<section
  id={anchor}
  class={`flex justify-center items-center ${background ? "bg-slate-100 dark:bg-slate-700 py-16 px-4 sm:px-6 lg:px-8 rounded-lg" : ""}`}
>
  <div
    class={`w-full flex max-w-7xl mx-auto ${src ? "lg:flex-row flex-col lg:gap-12 gap-8 lg:items-start items-center" : "flex-col items-start"}`}
  >
    {src && alt && <PageImage loading={loading} src={src} alt={alt} />}

    {slug ? (
      <PageText image={src} title={pageTitle} content={pageContent} />
    ) : (
      <div class="justify-start text-left ml-0">
        <H2 title={title} />
        <slot />
      </div>
    )}
  </div>
</section>
