---
import Tag from "./Tag.astro";

export interface TagProps {
  name: string;
}

interface Props {
  slug: string;
  title: string;
  date: string;
  prose: string;
  tags?: TagProps[];
}

const { slug, title, date, prose, tags } = Astro.props;

// Helper function to get the first sentence of the content
const getFirstSentence = (content: string): string => {
  const match = content.match(/[^.!?]*[.!?]/);
  return match ? match[0] : "";
};

// Function to format the date
function formatDate(date: string) {
  return new Intl.DateTimeFormat("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
  }).format(new Date(date));
}

// Ensure prose contains at least the first sentence of the content
const formattedProse = prose || getFirstSentence(prose);

const link = `/posts/${slug}`;
---

<a
  href={link}
  class="p-4 border-2 flex-1 h-full flex flex-col rounded-sm group hover:bg-black hover:text-white dark:hover:bg-slate-500 dark:hover:text-white transition-colors"
>
  <div class="flex-grow">
    <p class="text-sm mb-2">{formatDate(date)}</p>
    <h3 class="text-2xl mb-2 font-semibold">{title}</h3>
    <div class="mb-2" set:html={formattedProse} />
  </div>
  <div class="flex gap-2 mt-2 flex-wrap justify-end">
    {(tags ?? []).map((tag) => <Tag tag={tag.name} />)}
  </div>
</a>
