---
import { capitalise, encodeSlug } from "../../lib/utils";

interface Props {
  tag: string;
  link?: boolean;
}

const { tag, link = false } = Astro.props;

const tagSlug = encodeSlug(tag);
const baseStyle = `text-xs rounded-full px-2 py-1 font-mono w-fit`;
---

<Fragment>
  {
    link ? (
      <a
        href={`/tags/${tagSlug}`}
        class={`${baseStyle} + hover:bg-black hover:text-white bg-slate-200 text-black`}
      >
        {capitalise(tag)}
      </a>
    ) : (
      <div class={`${baseStyle} + bg-slate-200 text-black w-fit`}>
        {capitalise(tag)}
      </div>
    )
  }
</Fragment>
