---
/**
import { Icon } from "astro-icon/components";

interface Props extends Testimonial {
  background: boolean;
}

<section
  class={`py-8 px-8 h-full flex items-center flex-col ${
    background ? "bg-slate-100 text-black" : "dark:text-white"
  }`}
>
  <Icon name="tabler:quote" class="text-2xl mb-2" />
  <div
    class={`mb-2 leading-loose flex-grow ${background ? "" : "dark:text-white"}`}
    set:html={quote}
  />
  <div class="flex flex-col items-end self-end mt-auto">
    <p class="font-bold">{author}, {role}</p>
    <a href={link} class="text-blue-500">{org}</a>
  </div>
</section>
*/
---
