---
import { ViewTransitions } from "astro:transitions"; // Astro view transitions
import AdamOGImage from "../../src/images/opengraph.jpg"; // Open Graph image
import Footer from "../components/Footer.astro"; // Page footer component
import Nav from "../components/Nav.astro"; // Nav component
import NavLink from "../components/atoms/NavItem.astro"; // Individual nav item
import CookieBanner from "../components/Cookies.astro";

// OGType options
export enum OGType {
  Website = "website",
  Article = "article",
  Book = "book",
  Profile = "profile",
  MusicSong = "music.song",
  MusicAlbum = "music.album",
  MusicPlaylist = "music.playlist",
  MusicRadioStation = "music.radio_station",
  VideoMovie = "video.movie",
  VideoEpisode = "video.episode",
  VideoTVShow = "video.tv_show",
  VideoOther = "video.other",
}

interface Props {
  // Ready?
  ready?: boolean;
  // Page title
  title: string;
  // Meta description
  metaDescription: string;
  // Should this page be noindexed? Defaults to false
  noindex?: boolean;
  // Set a canonical URL for this page
  canonicalUrl?: string;
  // Define og image
  ogImage?: ImageMetadata | string;
  // og type properties. Defaults to website
  ogType?: OGType;
  // Twitter card content
  twitterCard?: string;
}

const {
  title,
  metaDescription,
  noindex = false,
  canonicalUrl,
  ogImage = AdamOGImage,
  ogType = OGType.Website,
  twitterCard = "summary_large_image",
  ready = true,
} = Astro.props;

function getImageUrl(image: ImageMetadata | string): string {
  return typeof image === "string" ? image : image.src;
}
---

<!doctype html>
<html class="scroll-smooth scroll-pt-20" lang="en" transition:animate="slide">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-63R54V45CT"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-63R54V45CT");
    </script>

    <ViewTransitions />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content={metaDescription ? metaDescription : "No description provided"}
    />
    {noindex && <meta name="robots" content="noindex" />}
    {canonicalUrl && <link rel="canonical" href={canonicalUrl} />}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {
        title == "Adam Koszary"
          ? title
          : `${title} | Adam Koszary` /** if page title is 'Adam Koszary', don't append name. Else, append name */
      }
    </title>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={ogType} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={metaDescription} />
    {ogImage && <meta property="og:image" content={getImageUrl(ogImage)} />}

    <!-- Twitter -->
    <meta property="twitter:card" content={twitterCard} />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={metaDescription} />
    {
      ogImage && (
        <meta property="twitter:image" content={getImageUrl(ogImage)} />
      )
    }
  </head>

  <body class="md:px-8 px-4 max-w-7xl mx-auto">
    <CookieBanner GA_MEASUREMENT_ID="G-63R54V45CT" />
    <Nav>
      <NavLink url="/#posts" caption="Posts" />
      <NavLink url="/#contact" caption="Contact" />
    </Nav>
    <main class="min-h-screen flex flex-col my-2 mx-auto">
      {
        ready ? (
          <slot />
        ) : (
          <div class="text-center">🚧 Under construction 🚧</div>
        )
      }
    </main>
    <Footer />
  </body>
</html>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    body {
      @apply dark:bg-black dark:text-white;
    }
  }
</style>
