---
import { ViewTransitions } from "astro:transitions"; // Astro view transitions
import AdamOGImage from "../../src/images/opengraph.jpg"; // Open Graph image
import Footer from "../components/Footer.astro"; // Page footer component
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import Nav from "../components/Nav.astro"; // Nav component
import NavLink from "../components/atoms/NavItem.astro"; // Individual nav item
import CookieBanner from "../components/Cookies";

// OGType options
export enum OGType {
  Website = "website",
  Article = "article",
  Book = "book",
  Profile = "profile",
  MusicSong = "music.song",
  MusicAlbum = "music.album",
  MusicPlaylist = "music.playlist",
  MusicRadioStation = "music.radio_station",
  VideoMovie = "video.movie",
  VideoEpisode = "video.episode",
  VideoTVShow = "video.tv_show",
  VideoOther = "video.other",
}

interface Props {
  // Ready?
  ready?: boolean;
  // Page title
  title: string;
  // Meta description
  metaDescription: string;
  // Should this page be noindexed? Defaults to false
  noindex?: boolean;
  // Set a canonical URL for this page
  canonicalUrl?: string;
  // Define og image
  ogImage?: ImageMetadata | string;
  // og type properties. Defaults to website
  ogType?: OGType;
  // Twitter card content
  twitterCard?: string;
}

const {
  title,
  metaDescription,
  noindex = false,
  canonicalUrl,
  ogImage = AdamOGImage,
  ogType = OGType.Website,
  twitterCard = "summary_large_image",
  ready = true,
} = Astro.props;

function getImageUrl(image: ImageMetadata | string): string {
  return typeof image === "string" ? image : image.src;
}
---

<!doctype html>
<html class="scroll-smooth scroll-pt-20" lang="en" transition:animate="slide">
  <head>
    <!-- Hotjar Tracking Code for Adam Koszary -->
    <script is:inline>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 5089445, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content={metaDescription ? metaDescription : "No description provided"}
    />
    {noindex && <meta name="robots" content="noindex" />}
    {canonicalUrl && <link rel="canonical" href={canonicalUrl} />}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="canonical" href={canonicalUrl || Astro.url} />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {
        title == "Adam Koszary"
          ? title
          : `${title} | Adam Koszary` /** if page title is 'Adam Koszary', don't append name. Else, append name */
      }
    </title>

    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&display=swap"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={ogType} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={metaDescription} />
    {ogImage && <meta property="og:image" content={getImageUrl(ogImage)} />}

    <!-- Twitter -->
    <meta property="twitter:card" content={twitterCard} />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={metaDescription} />
    {
      ogImage && (
        <meta property="twitter:image" content={getImageUrl(ogImage)} />
      )
    }
  </head>

  <body class="md:px-8 px-4 max-w-7xl mx-auto">
    <CookieBanner client:load GA_MEASUREMENT_ID="G-63R54V45CT" />
    <Nav>
      <NavLink url="/#posts" caption="Posts" />
      <NavLink url="/contact" caption="Contact" />
    </Nav>
    <main class="min-h-screen flex flex-col my-2 mx-auto">
      {
        ready ? (
          <slot />
        ) : (
          <div class="text-center">🚧 Under construction 🚧</div>
        )
      }
    </main>
    <Footer />
  </body>
</html>

<style>
  @font-face {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Permanent Marker";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    unicode-range: U+0041-0044, U+004B-004F, U+0053-0054, U+005a, U+0061-0064,
      U+006B-006F, U+0073-0074, U+007a;
  }

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    body {
      @apply dark:bg-black dark:text-white;
    }
  }
</style>
